* {
    box-sizing: border-box;
}

body {
    background: url(assets/logist-fon2.png) 50% 0 / cover no-repeat fixed;
    margin: 0;
    padding: 0;
}


/* Nav-bar */

.nav-bar-wrapper {
    
}

/* Nav-bar header (contacts) */

.nav-bar-header {
    background-color: #f3f5f4;
}

.nav-bar-header > .container {
    padding-left: 265px;
}

.nav-bar-header-element {
    display: inline-block;
    font-size: 11pt;
    padding: 10px 14px;
}

/* Nav-bar and logo */

.nav-bar {
    background-color: rgba(237,28,36,0.8);
    padding: 0;
}
.nav-bar:after {
    clear: both;
    content: "";
    display: block;
}

.nav-bar-logo-wrapper {
    background-color: #f3f5f4;
    display: inline-block;
    float: left;
    padding: 0 20px;
    position: relative;
}
.nav-bar-logo-wrapper:before {
    border: 25px solid #f3f5f4;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    content: "";
    left: -50px;
    position: absolute;
    top: 0;
}
.nav-bar-logo-wrapper:after {
    border: 25px solid #f3f5f4;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
}

.nav-bar-logo-wrapper > img {
    /* To prevent white space below the image (alternative: font-size: 0) */
    display: block;
    margin-top: -17px;
}

/* Nav-bar items */

.nav-bar-items-wrapper {

}

.nav-bar-item {
    color: white;
    display: inline-block;
    font-size: 16pt;
    padding: 20px 18px;
    text-decoration: none;
}
.nav-bar-item:first-child {
    margin-left: 66px;
}



/* Header (below nav-bar) */

header {
    background: url(assets/header-background.jpg) 50% 0 / auto auto repeat-y fixed;
    position: relative;
    width: 100%;
}

header > .black-overlay {
    background: url(assets/overlay-black.png) no-repeat;
    background-position: 0 top;
}

header > .black-overlay > .container {
    color: #ed1c24;
    font-size: 28pt;
    font-weight: bold;
    padding-top: 130px;
    text-shadow: 0px 0px 5px #000, 0px 0px 2px #000;
}


.sub-nav-bar-wrapper {
    padding: 16px 0 16px 0;
}

.sub-nav-bar {
    background: url(assets/subnavbar-bg.png) no-repeat;
    padding: 18px 0;
}

.sub-nav-bar > .container {
    color: white;
    line-height: 24px;
}



/* Content */

.content-wrapper {
    padding: 30px 0;
    padding-bottom: 10px;
}
.content-wrapper:last-child {
    padding-bottom: 30px;
}

.content-wrapper > .container {
    background-color: rgba(255, 255, 255, 0.95);
}

.content {
    padding: 24px;
    text-align: center;
}

.content-header-wrapper {
    padding-bottom: 30px;
}

.content-header {
    border-bottom: 2px solid #ed1c24;
    display: inline-block;
    font-size: 24pt;
    font-weight: bold;
    padding: 0 8px 8px 8px;
}

/* Main content (in the .content div; below the content-header) */

.content-filling {

}



/* Common classes */

.container {
    margin: auto;
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
